.container-room{
  background-color: rgb(36, 221, 238, 0.4);
  padding: 20px 40px;
  border-radius: 20px ;
  height: 40vh;
  overflow: hidden;
  overflow-y: scroll;

}
h1{
  font-size: 1.25rem;
  color: white;
}
.grid-room{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px 20px;
  margin-top: 20px;
}

.container-room::-webkit-scrollbar {
  width: 12px; /* Largeur de la barre de défilement */
}

/* Style du fond de la barre de défilement */
.container-room::-webkit-scrollbar-track {
  background: rgba(245, 237, 17, 0); /* Couleur de fond */
  border-radius: 20px; /* Rayon des coins du fond de la barre de défilement */
}

/* Style du curseur (thumb) de la barre de défilement */
.container-room::-webkit-scrollbar-thumb {
  background-color: #3f3f3f; /* Couleur du curseur */
  border-radius: 10px; /* Rayon des coins du curseur */
}

/* Style de survol du curseur (thumb) de la barre de défilement */
.container-room::-webkit-scrollbar-thumb:hover {
  background-color: #333; /* Couleur du curseur au survol */
}
