.room_container {
  padding: 2rem;
  color: white;

  display: flex;
  flex-wrap: wrap;

  justify-content: space-around;

  width: 90%;
  min-width: 500px;
  max-width: 1500px;

  margin: 0 auto;

  @media screen and (max-width: 00px) {
    // flex-direction: column;
  }
}
