.card-stat {
  min-width: 150px;
  padding: 10px 20px;
	border-radius: 15px;
	color: black;
  background: linear-gradient(100deg, #f088f5 -5.66%, #24ddee 105.45%);
}
.stat{
  display: flex;
  justify-content: center;
}
