.app__navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1rem 2rem;

  background: rgba(0, 0, 0, 0.45);

  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  position: fixed;
  top: 0;
  z-index: 2;
}
.app__navbar-logo img {
  width: 48px;
}

.app__navbar-links {
  & ul {
    display: flex;
    flex-direction: row;
    li {
      margin: 0 1rem;
      cursor: pointer;
      flex-direction: column;
      a {
        color: var(--white-color);
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 500;
        transition: all 0.3s ease-in-out;
        &:hover {
          color: var(--blue-color);
        }
      }
      p {
        color: white;
        background: rgba(0, 0, 0, 0.45);
        padding: 8px;
        transform: translateY(-8px);
        border-radius: 4px;
        transition: all 0.3s ease;
        &:hover {
          background: blueviolet;
          color: white;
          box-shadow: 2px 2px 2px black;
        }
      }
    }
  }
}
