.card-stat {
  min-width: 150px;
  padding: 10px 20px;
	border-radius: 15px;
	color: white;
  background: linear-gradient(100deg, #a45ea8 -5.66%, #1a9ca8 105.45%);
}
.stat{
  display: flex;
  justify-content: center;
}
