.input_submit {
  transition: all 0.3s ease;
  text-transform: uppercase;
  font-weight: 900;

  background: rgba(255, 255, 255, 0.5);

  color: #242424;
  padding: 6px 16px;
  border-radius: 6px;

  &:hover {
    filter: contrast(1.75);
    cursor: pointer;
    transform: translateY(-1px);
  }
}
