.quizz_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  width: 90%;
  height: 50vh;

  background: rgba(217, 217, 217, 0.4);
  box-shadow: 4px 4px 20px 0px rgba(221, 46, 229, 0.4);

  border-radius: 20px;
}
.quizz_timer {
  color: white;
  text-transform: uppercase;
  font-size: 2rem;
}

.quizz_container img {
  height: 200px;
}

.quizz_input {
  display: flex;
  justify-content: space-between;
  & input[type="text"] {
    background: white;
    padding: 4px;
    border-radius: 6px;
    width: 65%;
  }
  & input[type="submit"] {
    background: fuchsia;
    color: #242424;
    padding: 4px 16px;
    border-radius: 6px;
  }
}
