.state {
  display: flex;
  gap: 4px;
  & button {
    padding: 8px;
    background: #18848e;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s all ease;
    &:hover {
      background: purple;
      transform: scale(1.1);
    }
  }
}

.quizz_container {
  h2 {
    color: #000;
    text-shadow: 2px 2px 20px purple;
  }
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 50%;
  min-width: 500px;
  // height: fit-content;
  background: rgba(217, 217, 217, 0.4);
  box-shadow: 4px 4px 20px 0px rgba(221, 46, 229, 0.4);
  border-radius: 20px;
  padding: 2rem 0;
}
.quizz {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
.quizz_timer {
  color: white;
  font-size: 2rem;
}

.quizz img {
  margin: 24px 0;
  min-height: 200px;
  max-height: 280px;
  max-width: 460px;
  min-width: 300px;
  box-shadow: 0 0 5px black;
}

//--- QUIZZ QCM COMPONENT ---//
.quizz_qcm {
  display: grid;
  grid-template-areas:
    "a a "
    "b b ";
}
.choice {
  cursor: pointer;

  width: 230px;
  height: 74px;
  flex-shrink: 0;

  background: #000;
  border-radius: 15px;
  background: linear-gradient(96deg, #68406a 16.08%, #18848e 118.4%);
}
//--- QUIZZ RESPONSE COMPONENT ---//
