.state {
  display: flex;
  gap: 4px;
  position: absolute;
  top: 0;
  & button {
    padding: 8px;
    background: #18848e;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s all ease;
    &:hover {
      background: purple;
      transform: scale(1.1);
    }
  }
}

.quizz_container {
  h2 {
    font-size: 1.4rem;
    color: #000;
    text-shadow: 2px 2px 20px purple;
  }
  h3 {
    font-size: 1.2rem;
  }
  display: flex;
  // justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
  min-width: 500px;
  height: 530px;
  background: rgba(217, 217, 217, 0.4);
  box-shadow: 4px 4px 20px 0px rgba(221, 46, 229, 0.4);
  border-radius: 20px;
  padding: 2rem 0;
}
.quizz {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
.quizz_timer {
  color: white;
  font-size: 2rem;
}

.quizz img {
  margin: 24px 0;
  min-height: 200px;
  max-height: 250px;
  max-width: 460px;
  min-width: 300px;
  box-shadow: 0 0 5px black;
}

//--- QUIZZ QCM COMPONENT ---//
.quizz_qcm {
  display: grid;
  grid-template-areas:
    "a a "
    "b b ";
  gap: 16px;
}
// QCM BUTTON

.choice {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none;
}

.choice-custom {
  position: relative;
  right: 20px;
  bottom: 20px;
  border: none;
  box-shadow: none;
  width: 130px;
  height: 40px;
  line-height: 42px;
  -webkit-perspective: 230px;
  perspective: 230px;
}
.choice-custom:nth-child(odd) span {
  background: #68406a;
  background: linear-gradient(96deg, #68406a 16.08%, #18848e 118.4%);
}
.choice-custom:nth-child(even) span {
  background: #68406a;
  background: linear-gradient(276deg, #754377 23.71%, #23959f 118.91%);
}
.choice-custom span {
  display: block;
  position: absolute;
  width: 130px;
  height: 40px;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin: 0;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.choice-custom span:nth-child(1) {
  box-shadow: -7px -7px 20px 0px #fff9, -4px -4px 5px 0px #fff9,
    7px 7px 20px 0px #0002, 4px 4px 5px 0px #0001;
  -webkit-transform: rotateX(90deg);
  -moz-transform: rotateX(90deg);
  transform: rotateX(90deg);
  -webkit-transform-origin: 50% 50% -20px;
  -moz-transform-origin: 50% 50% -20px;
  transform-origin: 50% 50% -20px;
}
.choice-custom span:nth-child(2) {
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  transform: rotateX(0deg);
  -webkit-transform-origin: 50% 50% -20px;
  -moz-transform-origin: 50% 50% -20px;
  transform-origin: 50% 50% -20px;
}
.choice-custom:hover span:nth-child(1) {
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  transform: rotateX(0deg);
}
.choice-custom:hover span:nth-child(2) {
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  color: transparent;
  -webkit-transform: rotateX(-90deg);
  -moz-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
}

.quizz_response {
  p {
    color: cyan;
  }
  text-align: center;
}
.quizz_input {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
